# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MaHrycT.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\MaHrycT\.idea\.idea.MaHrycT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
